// TAGS
.tagFile{
  background-color:#C9C9C9;
  border: 1px solid #C9C9C9;
  height: 100vh;
  left: -1500%;
  padding-bottom: 0.5rem;
  position: absolute;
  text-align: center;
  top: 0vh;
  transition: ease 2s;
  -webkit-transition: ease 2s;
  width: 27%;
  z-index: 2;
  // overflow: auto;
}
.tagFile--show{
  background-color:#C9C9C9;
  border: 1px solid #C9C9C9;
  height: 100vh;
  left: 8.3%;
  padding-bottom: 0.5rem;
  position: absolute;
  text-align: center;
  top: 0vh;
  transition: ease 2s;
  -webkit-transition: ease 2s;
  width: 25%;
  z-index: 2;
  // overflow: auto;
}
.tagFile__image{
  height: 4rem;
  margin: 0.5rem;
  width: 2rem;
}
.tagFile__button{
  background-color: transparent;
  border: 0px;
  margin: 0;
}
.tagFile__button--margin{
  background-color: transparent;
  border: 0px;
  margin: 20px;
  margin-left: 15%;
}
.tagsList{
  display: inline;
  list-style-type: none;
  line-height: 6rem;
}
.tagsList--border{
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  overflow-y: auto;
  max-height: 70vh;
}
.tagFile__list{
  //background-color: #66a5ca;
  border-color: transparent;
  color: black;
  margin: 0px;
  text-align: left;
}
.tagFile__li{
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0rem 1rem 0rem;
}
.tagFile__input{
  border-radius: 0px;
  background-color: #C9C9C9;
  border: #C9C9C9;
  border-bottom: 1px solid #2b4f63;
  font-size: 18px;
  outline: none;
  -webkit-box-shadow: 0 0px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 0px 0 rgba(0,0,0,0.03) inset;
  margin: 3rem 1rem 3rem 2rem;
}
.tagFile__input:focus{
    background: #C9C9C9;
    border: 0px;
    border-bottom: 3px solid #2b4f63;
    outline: 0 none;
}


//viejo
.tagFile__input--list{
  //width: 100%;
  // margin: 1rem 1rem 0 1rem;
  border-radius: 0px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  // border-bottom: 1px solid #2b4f63;
  display: flex;
  font-size: 18px;
  justify-content: flex-start;
  // margin: 3rem 1rem 3rem 2rem;
  // outline: none;
  -webkit-box-shadow: 0 0px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 0px 0 rgba(0,0,0,0.03) inset;
}
// .tagFile__input--list:focus{
//   background: #C9C9C9;
//   // color: #2b4f63;
//   // border: 0px;
//   // border-bottom: 3px solid #2b4f63;
//   outline: none;
//   opacity: 0.4;
//   filter: alpha(opacity=50);
//   -webkit-box-shadow: 0 0px 0 rgba(0,0,0,0.03) inset;
//   box-shadow: 0 0px 0 rgba(0,0,0,0.03) inset;
// }
// fin css focus viejo





// focus nuevo
.tagFile__input__list{
  //width: 100%;
  // margin: 1rem 1rem 0 1rem;
  border-radius: 0px;
  background-color: transparent;
  border: 0;
  // border-bottom: 1px solid #2b4f63;
  display: flex;
  font-size: 18px;
  justify-content: flex-start;
  // margin: 3rem 1rem 3rem 2rem;
  // outline: none;
  -webkit-box-shadow: 0 0px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 0px 0 rgba(0,0,0,0.03) inset;
}
.tagFile__input__list--opacity{
  // background: #C9C9C9;
  border-radius: 0px;
  background-color: red;
  border: 0;
  // color: #2b4f63;
  // border: 0px;
  // border-bottom: 3px solid #2b4f63;
  outline: none;
  opacity: 0.4;
  filter: alpha(opacity=50);
  -webkit-box-shadow: 0 0px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 0px 0 rgba(0,0,0,0.03) inset;
}
//fin focus nuevo






.form-control:focus {
  border-color: #2b4f63;
  box-shadow: none;
}
.col--width{
  width: 100%;
}
@media only screen and (max-width: 350px) {
  .tagFile--show{
    left:0;
    top: 11vh;
    width: 100%;
  }
  .tagFile__image{
    height: 2.2rem;
    margin: 0.3rem;
    width: 1.1rem;
  }
  .col--width{
    width: 100%;
  }
  h6{
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 351px) and (max-width: 519px) {
  .tagFile--show{
    left:0;
    top: 11vh;
    width: 100%;
  }
  .tagFile__image{
    height: 4rem;
    margin: 0.3rem;
    width: 2rem;
  }
    .col--width{
    width: 100%;
  }
  h6{
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 520px) and (max-width: 789px) {
  .tagFile--show{
    top: 14vh;
    width: 65%;
    left: 15%;
   }
  .tagFile__image{
    height: 4rem;
    margin: 0.3rem;
    width: 2rem;
  }
  .col--width{
    width: 100%;
  }
}
@media only screen and (min-width: 790px) and (max-width: 991px) {
  .tagFile--show{
    top: 14vh;
    width: 60%;
    left: 15%;
   }
  .tagFile__image{
    height: 4rem;
    margin: 0.3rem;
    width: 2rem;
  }
  .col--width{
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1250px) {
  .tagFile--show{
    width: 33%;
   }
  .col--width{
    width: 100%;
  }
}
.circle {
  cursor:pointer;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.circle--margin{
  margin: 4rem 0rem 2rem 0rem;
}
.circle:hover{
  border:2px solid black;
}
.color0 {
  background: #60CBFC;
}
.color1 {
  background: #F79267;
}
.color2 {
  background: #855379;
}
.color3 {
  background: #F7C974;
}
.color4{
  background: #87B6A7;
}
.color5 {
  background: #F25C85;
}
.color6 {
  background: #FFF;
}
.col--pading{
  padding: 3px;
}
.tagFile__input--margin{
  width:30%;
}
.section--display{
  justify-content: flex-start;
}
.circle__selected{
  cursor:pointer;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border:2px solid black;
}