// TAGS
.tagFile{
  background-color:#C9C9C9;
  border: 1px solid #C9C9C9;
  height: 100vh;
  left: -1500%;
  padding-bottom: 0.5rem;
  position: absolute;
  text-align: center;
  top: 0vh;
  transition: ease 2s;
  -webkit-transition: ease 2s;
  width: 25%;
  z-index: 2;
}
.tagFile--show{
  background-color:#C9C9C9;
  border: 1px solid #C9C9C9;
  height: 100vh;
  left: 8.3%;
  padding-bottom: 0.5rem;
  position: absolute;
  text-align: center;
  top: 0vh;
  transition: ease 2s;
  -webkit-transition: ease 2s;
  width: 25%;
  z-index: 2;
}
.tagFile__image{
  height: 3rem;
  margin: 1rem;
  width: 2.5rem;
}
.tagFile__button{
  background-color: transparent;
  border: 0px;
}
.tagFile__button--margin{
  margin: 20px;
}
.tagsList{
  display: inline;
  list-style-type: none;
  line-height: 6rem;
}
.tagsList--border{
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
.tagFile__input{
  margin: 1rem 1rem 0 1rem;
  // width: 100%;
}
.tagFile__list{
  //background-color: #66a5ca;
  border-color: transparent;
  color: black;
  margin: 0px;
  text-align: left;
}
.tagFile__li{
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0rem 1rem 0rem;
}
.tagFile__input{
  border-radius: 0px;
  background-color: #C9C9C9;
  border: #C9C9C9;
  border-bottom: 1px solid #2b4f63;
  font-size: 18px;
  outline: none;
  -webkit-box-shadow: 0 0px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 0px 0 rgba(0,0,0,0.03) inset;
  margin: 3rem 1rem 3rem 2rem;
}
.tagFile__input:focus{
    background: #C9C9C9;
    border: 0px;
    border-bottom: 3px solid #2b4f63;
    outline: 0 none;
}
.form-control:focus {
  border-color: #2b4f63;
  box-shadow: none;
}
.col--width{
  width: 100%;
}
//MEDIA QUERIES
/* Mobile Styles */
@media only screen and (max-width: 350px) {
  .tagFile--show{
    left:0;
    top: 11vh;
    width: 100%;
  }
  .tagFile__image{
    height: 2.2rem;
    margin: 0.7rem 0.7rem 0.7rem 0.7rem;
    width: 1.1rem;
  }
  .col--width{
    width: 100;
  }
  h6{
    font-size: 1.2rem;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 351px) and (max-width: 519px) {
  .tagFile--show{
    left: 0;
    top: 11vh;
    width: 100%;
   }
  .tagFile__image{
    height: 4rem;
    margin: 0.7rem 0.7rem 0.7rem 0.7rem;
    width: 3.5rem;
  }
  .col--width{
    width: 100%;
  }
  h6{
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 520px) and (max-width: 789px) {
.tagFile--show{
    top: 14vh;
    width: 65%;
    left: 15%;
   }
  .tagFile{
    height: 4rem;
    margin: 0.7rem 0.7rem 0.7rem 0.7rem;
    width: 2rem;
  }
  .col--width{
    width: 100%;
  }
}
@media only screen and (min-width: 790px) and (max-width: 991px) {
.tagFile--show{
    top: 14vh;
    width: 60%;
    left: 15%;
   }
  .tagFile__image{
    height: 4rem;
    margin: 0.7rem 0.7rem 0.7rem 0.7rem;
    width: 2rem;
  }
  .col--width{
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1250px) {
.tagFile--show{
    width: 33%;
   }
  .col--width{
    width: 100%;
  }
}