//DROPDOWN
.notesDropDown{
  background-color: #454741;
  display: block;
  position: relative;
}
.notesDropDown__dropdown{
  border-radius:0px;
  cursor: hand;
  height: 3.5rem;
  margin: 3rem;
  width: 20%;
}
.notesDropDrown__button{
  background-color: transparent;
  border: 0px;
  display: flex;
  float: right;
  margin: 0.2rem;
  padding: 1rem;
}
.notesDropDrown__img{
  height: 5rem;
  margin: 0.3rem;
  width: 7rem;
}

//MEDIA QUERIES
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .notesDropDown__dropdown{
    justify-content: flex-start;
    width: 40%;

  }
  .notesDropDrown__img{
    justify-content: flex-end;
    height: 4rem;
    width: 6rem;
  }
  .notesDropDown{
    justify-content: none;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 991px) {
  .notesDropDown__dropdown{
    justify-content: flex-start;
    width: 40%;
  }
  .notesDropDrown__img{
    justify-content: flex-end;
  }
  .notesDropDown{
  justify-content: none;
  }
}

